.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1;
    background: radial-gradient(circle at top right,
            #292929,
            #252525,
            #222222,
            #000000,
            #000000 50%,
            #000000 55%,
            #000000 60%,
            #000000 90%);
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.textContent {
    flex: 1;
    text-align: center;
}

.h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 34ch;
    }
}

@keyframes blink {
    50% {
        border-right-color: transparent;
    }

    100% {
        border-right-color: #ffffff;
    }
}

.animatedText {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(to right, #ffffff, #bfbfbf);
    background-clip: text;
    -webkit-background-clip: text;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #ffffff;
    text-align: center;
    display: inline-block;
    animation: typing 2s steps(30, end) forwards, blink 0.6s step-end infinite;
    margin: 0 auto;
}

@keyframes flicker {
    0% {
        opacity: 0;
        text-shadow: none;
    }

    20% {
        opacity: 1;
        text-shadow: 0 0 5px #404040, 0 0 10px #404040, 0 0 20px #404040;
    }

    40% {
        opacity: 0;
        text-shadow: none;
    }

    60% {
        opacity: 1;
        text-shadow: 0 0 10px #707070, 0 0 20px #707070, 0 0 40px #707070;
    }

    80% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1;
        text-shadow: 0 0 15px #ffffff, 0 0 30px #ffffff, 0 0 60px #ffffff;
    }
}

.span {
    color: white;
    text-shadow: none;
    animation: flicker 3s ease-in-out;
    animation-fill-mode: forwards;
}

.profileImageContainer {
    position: relative;
    width: 380px;
    height: 380px;
    margin: 0 auto;
}

@keyframes moveToPosition {
    0% {
        transform: translate(1200%, -50%) scale(7);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(var(--final-x), var(--final-y)) scale(1);
        opacity: 1;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.iconContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    pointer-events: none;
}

.icon {
    position: absolute;
    font-size: 2rem;
    color: #ffffff;
    animation: moveToPosition 1.5s ease-out forwards, bounce 4.5s infinite ease-in-out 1.5s;
}

.icon:nth-child(1) {
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    animation: moveToPosition 1.5s ease-out forwards, bounce 4.5s infinite ease-in-out 1.5s;
}

.icon:nth-child(2) {
    top: 15%;
    right: -20px;
    transform: translateY(-50%);
    animation: moveToPosition 1.5s ease-out forwards, bounce 4.6s infinite ease-in-out 1.5s;
}

.icon:nth-child(3) {
    bottom: 30%;
    right: -30px;
    transform: translateY(50%);
    animation: moveToPosition 1.5s ease-out forwards, bounce 4.5s infinite ease-in-out 1.5s;
}

.icon:nth-child(4) {
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    animation: moveToPosition 1.5s ease-out forwards, bounce 4.1s infinite ease-in-out 1.5s;
}

.icon:nth-child(5) {
    bottom: 30%;
    left: -30px;
    transform: translateY(50%);
    animation: moveToPosition 1.5s ease-out forwards, bounce 4.3s infinite ease-in-out 1.5s;
}

.icon:nth-child(6) {
    top: 15%;
    left: -20px;
    transform: translateY(-50%);
    animation: moveToPosition 1.5s ease-out forwards, bounce 4.4s infinite ease-in-out 1.5s;
}

.vueIcon, .reactIcon, .angularIcon, .laravelIcon, .jsIcon, .tsIcon {
    background-color: white;
    border-radius: 8px;
    padding: 7px;
    transform-origin: center;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.9);
}

.circleImage {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    object-fit: cover;
    width: 380px;
    height: 380px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    z-index: 4;
    position: relative;
}

.circleImage:hover {
    transform: scale(1.1);
}

@keyframes slideUpWithBounce {
    0% {
        transform: translateY(400px);
        opacity: 0;
    }

    80% {
        transform: translateY(-10px);
        opacity: 1;
    }

    90% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}

.socialLinks {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.socialLinks a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(85, 85, 85);
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    outline: none;
    animation: slideUpWithBounce 2.5s ease-out;
    animation-fill-mode: both;
    animation-delay: var(--delay);
    opacity: 1;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.2);
}

.socialLinks a::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -120%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    font-size: 0.9rem;
    opacity: 0;
    visibility: hidden;
    text-shadow: 0 0 15px #000000, 0 0 30px #000000, 0 0 60px #000000;
    transition: opacity 0.2s, transform 0.2s;
}

.socialLinks a::before {
    content: '';
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
    z-index: 9;
}

.socialLinks a:hover::after,
.socialLinks a:hover::before {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-5px);
}

.socialLinks .facebook {
    --delay: 0.1s;
}

.socialLinks .github {
    --delay: 0.2s;
}

.socialLinks .instagram {
    --delay: 0.3s;
}

.socialLinks .x {
    --delay: 0.4s;
}

.socialLinks a:hover {
    transform: scale(1.2);
}

.socialLinks .facebook:hover::after {
    background: radial-gradient(circle at 30% 30%, #9dc8ff, #63a7ff, #4898ff, #1877f2);
}

.socialLinks .github:hover::after {
    background: radial-gradient(circle at 30% 30%, #cacaca, #555555, #2c2c2c, #030303);
}

.socialLinks .instagram:hover::after {
    background: radial-gradient(circle at 30% 30%, #fdf497, #fd5949, #d6249f, #285aeb);
}

.socialLinks .x:hover::after {
    background: radial-gradient(circle at 30% 30%, #cacaca, #555555, #2c2c2c, #030303);
}

.socialLinks .facebook:hover {
    background-color: #1877f2;
    background: radial-gradient(circle at 30% 30%, #9dc8ff, #63a7ff, #4898ff, #1877f2);
    box-shadow: 0 0 5px 2px #1877f2;
}

.socialLinks .github:hover {
    background: radial-gradient(circle at 30% 30%, #cacaca, #555555, #2c2c2c, #030303);
    box-shadow: 0 0 5px 2px #555555;
}

.socialLinks .instagram:hover {
    background: radial-gradient(circle at 30% 30%, #fdf497, #fd5949, #d6249f, #285aeb);
    box-shadow: 0 0 5px 2px #d6249f;
}

.socialLinks .x:hover {
    background: radial-gradient(circle at 30% 30%, #cacaca, #555555, #2c2c2c, #030303);
    box-shadow: 0 0 5px 2px #555555;
}

@media (max-width: 1069px) {
    .content {
        flex-direction: column;
        gap: 30px;
        text-align: center;
        margin-top: 65px;
    }

    .h1 {
        font-size: 2rem;
    }

    .animatedText {
        font-size: 1.2rem;
    }

    .profileImageContainer {
        width: 300px;
        height: 300px;
    }

    .circleImage {
        width: 300px;
        height: 300px;
    }

    .icon {
        font-size: 1.8rem;
    }

    .socialLinks {
        gap: 10px;
    }

    .socialLinks a {
        margin-top: -10px;
        width: 35px;
        height: 35px;
        font-size: 1.2rem;
    }

    .socialLinks a::after {
        content: attr(data-tooltip);
        position: absolute;
        bottom: -150%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        white-space: nowrap;
        font-size: 0.9rem;
        opacity: 0;
        visibility: hidden;
        text-shadow: 0 0 15px #000000, 0 0 30px #000000, 0 0 60px #000000;
        transition: opacity 0.2s, transform 0.2s;
    }
    
    .socialLinks a::before {
        content: '';
        position: absolute;
        top: 140%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 6px;
        border-style: solid;
        border-color: white transparent transparent transparent;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s;
        z-index: 9;
    }
}

@media (max-width: 480px) {
    .h1 {
        font-size: 1.8rem;
    }

    .animatedText {
        font-size: 1rem;
    }

    .profileImageContainer {
        width: 250px;
        height: 250px;
    }

    .circleImage {
        width: 250px;
        height: 250px;
    }

    .icon {
        font-size: 1.5rem;
    }

    .socialLinks {
        gap: 8px;
    }

    .socialLinks a {
        margin-top: -10px;
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }

    .socialLinks a::after {
        content: attr(data-tooltip);
        position: absolute;
        bottom: -150%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        white-space: nowrap;
        font-size: 0.9rem;
        opacity: 0;
        visibility: hidden;
        text-shadow: 0 0 15px #000000, 0 0 30px #000000, 0 0 60px #000000;
        transition: opacity 0.2s, transform 0.2s;
    }
    
    .socialLinks a::before {
        content: '';
        position: absolute;
        top: 140%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 6px;
        border-style: solid;
        border-color: white transparent transparent transparent;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s;
        z-index: 9;
    }
}