/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* TRABAJREMOS A MODO ANGULAR XD O VEMOS SI TRABAJAR CON TAILWIND */

:root {
  --background: #ededed;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
